<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jonathan Lovera</title>
    <meta name="description" content="Skilled dedicated worker, focused on quality and agile development. Highly motivated to engage in dynamic learning and to adapt to changes and challenges, providing clear communication throughout.">

    <!-- start favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/bundle/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/bundle/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/bundle/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/bundle/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/bundle/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/bundle/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/bundle/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/bundle/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/bundle/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/bundle/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/bundle/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/bundle/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/bundle/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/bundle/favicon/favicon-16x16.png" sizes="16x16">
    <!-- end favicon -->

    <!-- Import Google Icon Font -->
    <!-- <link href="/build/css/materialIcons.css" rel="stylesheet"> -->
    <!-- Import materialize.css -->
    <!-- <link href="/build/css/materialize.min.css" rel="stylesheet"> -->
    <!-- Import font-awesome.css -->
    <!-- <link href="/build/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- Import animate.css -->
    <!-- <link href="/build/css/animate.min.css" rel="stylesheet"> -->
    <!-- Import style.css -->
    <!-- <link type="text/css" rel="stylesheet" href="/build/css/style.css"> -->

    <!-- Start Single Page Apps for GitHub Pages -->
    <script type="text/javascript">
        (function(l) {
            if (l.search) {
                var q = {};
                l.search.slice(1).split('&').forEach(function(v) {
                    var a = v.split('=');
                    q[a[0]] = a.slice(1).join('=').replace(/~and~/g, '&');
                });
                if (q.p !== undefined) {
                    window.history.replaceState(null, null,
                        l.pathname.slice(0, -1) + (q.p || '') +
                        (q.q ? ('?' + q.q) : '') +
                        l.hash
                    );
                }
            }
        }(window.location))
    </script>
    <!-- End Single Page Apps for GitHub Pages -->

</head>

<body>
    <div id="root"></div>
</body>

</html>
