@import "./materialIcons";
@import "./animate.min";
@import "./font-awesome.min";
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic Bold';
    src: url('../fonts/CenturyGothicBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Monaco';
    src: url('../fonts/monaco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.monaco {
    font-family: "Monaco";
}

b {
    font-family: "Century Gothic Bold";
}

.p100 {
    padding: 0 100px;
}

.full-w {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.m-b-n {
    margin-bottom: 0;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.valign-middle {
    vertical-align: middle;
}
/*pass window height (w/o scroll bars) down to react app, note can't use vh becasue that
  includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
body,
html {
    font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
    /*box-sizing: inherit;*/
    /*font: inherit;*/
    /*text-decoration: inherit;
    text-align: inherit;*/
}

.full-h,
body,
html {
    height: 100%;
}

.black-text,
body,
html {
    color: #333 !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #eaeaea;
    margin: 1em 0;
    padding: 0;
}

a {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a.black-text:hover {
    color: #228ee4 !important;
}

nav {
    z-index: 99999;
    box-shadow: 0 5px 10px 0 rgba(72, 76, 88, 0.08);
}

#sidenav-overlay {
    // left: 300px;
    // z-index:
}
@media only screen and (max-width: 601px) {
    nav {
        padding: 0 !important;
    }

    .p40s {
        padding: 0 50px;
    }
}
/*@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        line-height: 63px;
    }
}*/
@media only screen and (min-width: 601px) {
    .valign-wrapper-m {
        display: flex;
        align-items: center;
    }
}

nav .brand-logo,
nav a,
nav ul a {
    color: #333;
}

nav .brand-logo > div > span {
    position: relative;
    display: block;
}

footer.page-footer.small {
    padding: 0;
}

footer.page-footer.small > .container {
    display: none;
}

section {
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

section > div {
    margin-bottom: 127px;
}

#push {
    position: relative;
    height: 100%;
    margin-top: -64px;
}

#main {
    background-color: white;
    position: relative;
    // z-index: 990;
}

#content {
    padding: 40px 0;
}

#content > div > div {
    padding-top: 40px;
    padding-bottom: 60px;
}

nav.pinned+#content {
    margin-top: 64px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
    -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    z-index: 1;
}

.card::after {
    z-index: 1;
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover::after {
    opacity: 1;
}

#projects li {
    opacity: 0;
}

#root,
#root > div {
    /*background-color: #F0F0F0;*/
    height: 100%;
}

.margin-left-18 {
    margin-left: 18px;
}
/* For the animated blinking cursor. */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

span.badge.blue {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #228ee4;
    border-radius: 2px;
}
