.angled-top-left {
    width: 100%;
    position: relative;
}

.angled-top-left div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-top-left.last, .angled-top-left:last-of-type {
    margin-bottom: 80px;
}

.angled-top-left:after {
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-top-left:before {
    top: 0;
    transform-origin: right top;
    transform: skewY(4deg);
}

.angled-top-right {
    width: 100%;
    position: relative;
}

.angled-top-right div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-top-right.last, .angled-top-right:last-of-type {
    margin-bottom: 80px;
}

.angled-top-right:after {
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-top-right:before {
    top: 0;
    transform-origin: left top;
    transform: skewY(-4deg);
}

.angled-bottom-left {
    width: 100%;
    position: relative;
}

.angled-bottom-left div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-bottom-left.last, .angled-bottom-left:last-of-type {
    margin-bottom: 80px;
}

.angled-bottom-left:after {
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-bottom-left:after {
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-4deg);
}

.angled-bottom-right {
    width: 100%;
    position: relative;
}

.angled-bottom-right div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-bottom-right.last, .angled-bottom-right:last-of-type {
    margin-bottom: 80px;
}

.angled-bottom-right:after {
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-bottom-right:after {
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(4deg);
}

.angled-both-left {
    width: 100%;
    position: relative;
}

.angled-both-left div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-both-left.last, .angled-both-left:last-of-type {
    margin-bottom: 80px;
}

.angled-both-left:after {
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-both-left:before {
    top: 0;
    transform-origin: right top;
    transform: skewY(4deg);
}

.angled-both-left:after {
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-4deg);
}

.angled-both-right {
    width: 100%;
    position: relative;
}

.angled-both-right div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-both-right.last, .angled-both-right:last-of-type {
    margin-bottom: 80px;
}

.angled-both-right:after {
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-both-right:before {
    top: 0;
    transform-origin: left top;
    transform: skewY(-4deg);
}

.angled-both-right:after {
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(4deg);
}

.angled-both-left-right {
    width: 100%;
    position: relative;
}

.angled-both-left-right div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-both-left-right.last, .angled-both-left-right:last-of-type {
    margin-bottom: 80px;
}

.angled-both-left-right:after {
    margin: 5px 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-both-left-right:before {
    top: 0;
    transform-origin: right top;
    transform: skewX(24deg);
}

.angled-both-left-right:after {
    bottom: 0;
    transform-origin: left bottom;
    transform: skewX(24deg);
}

.angled-both-right-left {
    width: 100%;
    position: relative;
}

.angled-both-right-left div {
    position: relative;
    z-index: 1;
    padding-top: 30px;
}

.angled-both-right-left.last, .angled-both-right-left:last-of-type {
    margin-bottom: 80px;
}

.angled-both-right-left:after {
    margin: 5px 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease all .5s;
}

.angled-both-right-left:before {
    top: 0;
    transform-origin: left top;
    transform: skewY(-4deg);
}

.angled-both-right-left:after {
    bottom: 0;
    transform-origin: right bottom;
    transform: skewY(-4deg);
}

.reef-gradient:after {
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#00d2ff 0%, #3a7bd5 100%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#00d2ff 0%, #3a7bd5 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-skies-gradient:after {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#56CCF2, #2F80ED);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#56CCF2, #2F80ED);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.deep-purple-gradient:after {
    background: #673AB7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#673AB7, #512DA8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#673AB7, #512DA8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.juicy-orange:after {
    background: #FFC837;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#FFC837, #FF8008);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#FFC837, #FF8008);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sunrise:after {
    background: #F09819;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(#F09819, #FF512F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(#F09819, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
