@font-face {
    font-family: 'Avenir Next W02 Light';
    src: url('../fonts/Avenir-Next-W02-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/Avenir-Next.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, nav, nav .brand-logo, nav ul a {
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // arial,sans-serif;
    color: #444;
}

html, body, .full-h {
    height: 100%
}

.full-w {
    width: 100%
}

.no-margin {
    margin: 0;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

section {
    height: 100%;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}

#push {
    position: relative;
    height: 100%;
}

#main {
    background-color: white;
    position: relative;
    z-index: 990;
}

nav {
    z-index: 99999;
}

nav.pinned+#content {
    margin-top: 64px;
    padding-top: 1px;
}

#welcome {
    margin-top: 40px;
}

#welcome h4, #welcome h1 {
    opacity: 0;
}

#welcome h4 {
    margin-left: -28px;
}

#welcome h1:nth-last-child(1) {
    margin-right: -28px;
}

.profile {
    position: relative;
    display: block;
    z-index: 1;
    margin-left: 28px;
    margin-right: 0;
}

.angled {
    position: relative;
    display: inline-block;
    padding: 1em 5em 1em 1em;
    overflow: hidden;
    color: #fff;
}


/*.angled:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: skew(18deg);
    -ms-transform: skew(18deg);
    transform: skew(18deg);
    z-index: -1;
}*/

.angled {
    background: #FF512F;
    padding-left: 22% !important;
    padding-right: 8% !important;
    /*width: 150px;/*for example*/
    /*height: 150px;/*for example*/
    */ -webkit-transform: skew(18deg);
    -moz-transform: skew(18deg);
    -o-transform: skew(18deg);
    transform: skew(18deg);
}

.angled .angled-remove {
    -webkit-transform: skew(-18deg);
    -moz-transform: skew(-18deg);
    -o-transform: skew(-18deg);
    transform: skew(-18deg);
}

.m-b-n {
    margin-bottom: 0;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

.valign {
    vertical-align: middle;
}
